{% extends "base_email.html" %}

{% block msg_body %}
    <p class="p1">Hello!</p>
    <p> Press the button below to change your credentials. 
        Just press the button below.</p>
{% endblock %}
{% block msg_button %}
    <a class="undecorated" href="{{ url_for('auth.change_password', token=token, _external=True) }}">
        <button class="button-blue">Reset Password</button>
    </a>
{% endblock %}
{% block msg_confirm_link %}
    <p>
        {{ url_for('auth.change_password', token=token, _external=True) }}
    </p>
{% endblock %}