{% extends "base.html" %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-4">
            <div class="box has-background-light">
                <p class="title has-text-info is-3">
                    Forgot Credentials?
                    <span class="icon is-pulled-right">
                        <i class="fas fa-lg mt-4 mr-4 fa-paper-plane"></i>
                    </span>
                </p>
                <p class="title is-size-6">
                    Don't worry. We'll send you an email with a username
                     and a reset password link.
                </p>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div>
                        {{ form.email.label(class="label is-small pt-2") }}
                        <div class="control has-icons-left">
                            <span class="icon">
                                <i class="fas fa-envelope"></i>
                            </span>
                            {% if form.email.errors %}
                                {{ form.email(class="input has-icon-left is-danger") }}
                                <div class="help is-danger">
                                    {% for error in form.email.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="input has-icon-left") }}
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        {{ form.submit(class="button is primary mt-6 is-info") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
