{% extends "base.html" %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-4">
            <div class="box has-background-light">
                <p class="title has-text-info is-2">
                    Log In
                    <span class="icon is-pulled-right">
                        <i class="fas fa-lg mt-4 mr-4 fa-user"></i>
                    </span>
                </p>
                <form method="POST" action="">
                    <div>
                        {{ form.username.label(class="label is-medium pt-2") }}
                        <div class="control has-icons-left">
                            <span class="icon">
                                <i class="fas fa-user"></i>
                            </span>
                            {{ form.username(class="input has-icon-left") }}
                        </div>
                    </div>
                    <div>
                        {{ form.password.label(class="label is-medium pt-2") }}
                        <div class="control has-icons-left">
                            <span class="icon">
                                <i class="fas fa-key"></i>
                            </span>
                            {{ form.password(class="input has-icon-left") }}
                        </div>
                    </div>
                    <div>
                        {{ form.log_out(class="checkbox mt-4") }}
                        {{ form.log_out.label(class="") }}
                    </div>
                    <div>
                        {{ form.submit(class="button is-info mt-4") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
