{% extends "base.html" %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-4">
            <div class="box has-background-light">
                <p class="title has-text-info is-3">
                    Customers List
                    <span class="icon is-pulled-right">
                        <i class="fas fa-lg mt-4 mr-4 fa-users"></i>
                    </span>
                </p>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div>
                        {{ form.customers(class="select control has-icon-left pl-6 ") }}
                    </div>
                    <div>
                        {{ form.submit(class="button is primary mt-6 is-info") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
